body, button, input, select, textarea {
  font-family: 'Muli', sans-serif;
  
  white-space: pre-wrap;
  font-weight: 350; /* ExtraLight */

}

body p {
  font-size: var(--paragraph-text-size);
}

h1 {
  font-family: 'Playfair Display';
  font-size: var(--header-text-size);
}

h2 { 
  font-size: var(--subheader-text-size);
}

h3 {
  font-size: var(--subsubheader-text-size)
}

@media (max-width: 500px){
    body p {
      font-size: var(--paragraph-mobile-text-size);
    }

    h1 {
      font-size: var(--header-mobile-text-size);
    }

    h2 { 
      font-size: var(--subheader-mobile-text-size);
    }

    h3 {
      font-size: var(--subsubheader-mobile-text-size)
    }
}

@keyframes skeleton-pulse {
  0% { opacity: 0.5; }
  50% { opacity: 0.8; }
  100% { opacity: 0.5; }
}