
body, button, input, select, textarea {
  font-family: sans-serif; 
}
.fa-icon, .svg-inline--fa {
  display: inline-block;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
img, a, div {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none;
}