:root {
  --primary-color: #3A6351;
  --secondary-color: #5C946E;
  --accent-color: #4E848A;
  --text-color-dark: #2e2e2e;
  --text-color-light: #faf9f6;
  --highlight-color: #5ba0aa;
  --bg-color: #F4F1EE;
}
