:root {
  --primary-color: #3A6351;
  --primary-color-20: #3a635186;

  --secondary-color: #5C946E;
  --accent-color: #4E848A;
  --skeleton-color: #e0e0e0;
  --text-color-dark: rgba(27, 30, 34, 0.9);
  --text-color-light: #faf9f6;
  --highlight-color: #5ba0aa;
  --bg-color: #f7f4f4;
  --fg-color: #ffff;
  --text-color-dark-disabled: #2e2e2e3b;

  --primary-font: 'Muli';
 
  --primary-z-index: 1;
  
  /** non-color asset settings */
  --default-border-radius: 16px;
  --secondary-border-radius: 8px;

  --primary-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);

  --primary-header-inline: 8px;
  --secondary-header-inline: 16px;

  --main-title-text-size: 72px;
  --paragraph-text-size: 18px;
  --header-text-size: 48px;
  --subheader-text-size: 24px;
  --subsubheader-text-size: 20px;
  --paragraph-secondary-text-size: 20px;

  --main-title-mobile-text-size: 64px;
  --paragraph-mobile-text-size: 17px;
  --header-mobile-text-size: 36px;
  --subheader-mobile-text-size: 20px;
  --subsubheader-mobile-text-size: 20px;

  --blur: blur(6px);

  /** animation */
  --skeleton-animation: skeleton-pulse 1.5s infinite;

  /** navbar */
  --logo-height: 50px;
  --nav-background: rgba(0, 0, 0, 0.2); 
  --navbar-height: 25px;

  /** landing hero */
  --landing-hero-height: 600px
}
