:root {
  --primary-color: #3A6351;
  --primary-color-20: #3a635186;

  --secondary-color: #5C946E;
  --accent-color: #4E848A;
  --text-color-dark: #2e2e2e;
  --text-color-light: #faf9f6;
  --highlight-color: #5ba0aa;
  --bg-color: #ffffff;
  --text-color-dark-disabled: #2e2e2e3b;

  --primary-font: 'Muli';
 

  /** non-color asset settings */
  --default-border-radius: 16px;
  --secondary-border-radius: 8px;

  --primary-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);

  --primary-header-inline: 8px;
  --secondary-header-inline: 16px;

  --paragraph-text-size: 18px;
  --header-text-size: 48px;
  --subheader-text-size: 24px;
  --subsubheader-text-size: 20px;
  --paragraph-secondary-text-size: 20px;

  --paragraph-mobile-text-size: 17px;
  --header-mobile-text-size: 36px;
  --subheader-mobile-text-size: 20px;
  --subsubheader-mobile-text-size: 20px;
}
